/**************************后台*****************************/
body{
	font-family:  sans-serif !important;
}

/*顶部导航*/
.admin-navar-top{
	background-color: rgb(48,151,209);
}

.admin-navar-top{
	.navbar-brand, .navbar-nav>li>a, .navbar-text{
		color: #f5f5f5;
	}

	.navbar-brand{
		font-weight: bold;
	}
}

/*左部导航*/
.admin-navar-left{
	padding-bottom: 40px;

	li{
		background-color: rgb(48,151,209);
		color: #f5f5f5;
		text-align: center;		
	}

	a{
		text-indent: 1em;
	}

	.active{
		background-color: rgb(32,178,94);
	}

	.active:hover{
		background-color: rgb(32,137,94);
	}

}

/*中部主内容*/
.admin-content {
	padding-bottom: 40px;
}

/*底部工具栏*/
.admin-toolbar{
	.pagination{
		margin:	0 0 !important;
	}
} 


/*内容*/
.form-operate-delete {
	display: inline;
}


/*底部*/
.admin-footer
{
	position: fixed;
	bottom: 0;
	height: 40px;
    width: 100%;
    z-index: 99999;
    background: rgb(48,151,209);
    color: #fff;
    padding: 10px 0;
    text-align: center;
}